# Azure OpenAI
OPENAI_KEY=
OPENAI_ENDPOINT=
OPENAI_DEPLOYMENT=
OPENAI_API_VERSION=

# Azure OCR
VISION_ENDPOINT='https://korspell-ocr2.cognitiveservices.azure.com/'
VISION_KEY=
FORM_RECOGNIZER_ENDPOINT='https://korspell-ocr3.cognitiveservices.azure.com/'
FORM_RECOGNIZER_KEY=
